<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Insomnia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Insomnia.Properties.Settings>
            <setting name="autoOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
        </Insomnia.Properties.Settings>
    </userSettings>
</configuration>